<!DOCTYPE html>
<html>
<head>
<title>Currency Converter</title>
<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

{{{body}}}


<hr>
<a href="about">About this site</a>
<div id="logo">
<img src="http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg" alt="cat-logo" width="100">
</div>
<span>A very simple currency converter site</span>
</body>
</html>